<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h4><a href="http://localhost:8080">Come back to welcome page</a></h4>
</div>
<h1>Hi! Here all our users!</h1>
<div th:each="user: ${appUsers}">
    <h3 th:text="${user.getEmail()}"/>
    <ul>
        Id:
        <li th:text="${user.getId()}"></li>
        First name:
        <li th:text="${user.getFirstName()}"/>
        Last name:
        <li th:text="${user.getLastName()}"/>
        Role:
        <li th:text="${user.getAppUserRole()}"/>
    </ul>
</div>
</body>
</html>