<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/templates/css/welcome.css">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:inline="text">Welcome to starter page !</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br>
<h1><a href="http://localhost:8080/users">Show all users</a></h1>
<br>
<h1><a href="http://localhost:8080/api/v2/admins/reload">Update admins</a></h1>
</body>
</html>